<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Registration Button</title>
</head>
<body>
<div class="mt-2" th:fragment="login-reg-btn">
    <!-- Login Button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
        Login
    </button>
    <!-- Register Button -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">
        Register
    </button>
</div>
</body>
</html>